.Premix-bg {
    background-image: url("../../assets/Premix-bread-bg.png");
    background-size: cover;
    background-position: center;
}

.tile-adhesive {
    width: 100%;
    overflow: hidden;
}

/* Main dark background */
.Premix-bg {
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    border-bottom: 2px solid #aaa;
}

.tile-title {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    margin-top: 8px;
}

.tile-title h3 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -2px;
    margin-bottom: -6px;
}

.tile-title h2 {
    margin: 8px 0 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(45px, 6vw, 68px);
    font-weight: 800;
    line-height: 0.95;
    letter-spacing: -2px;
}

.tile-products-p {
    position: relative;
    z-index: 1;

    display: block;


    margin-top: 18px;

    object-fit: contain;
}

.tile-adhesive-caption {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 8px 20px;

    background: #f7f7f7;
    color: #315b9d;

    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(18px, 2.2vw, 26px);
    font-weight: 700;

    text-align: center;
    border-top: 1px solid #d4d4d4;
}

.product-logo {
    background: white;
    padding: 15px;
    margin-bottom: 12px;
    margin-top: 30px;
    border-radius: 10px;
}
.premix-product-display {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 18px;
    position: relative;
}

.sand-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(24px, 3vw, 42px);
    font-weight: 900;
    line-height: 0.95;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.sand-label span {
    display: block;
}

.sand-label-left {
    text-align: right;
    color: #0f4886;
        background-color: #cacaca;
    padding: 11px;
    border-radius: 20px;

}

.sand-label-right {
    text-align: left;
        color: #f3e200;
    background-color: #9ca1ab;
    padding: 11px;
    border-radius: 20px;
}

.premix-product-display .tile-products-p {
    position: relative;
    z-index: 1;
    display: block;
    margin-top: 0;
    object-fit: contain;
}

@media (min-width: 768px) {


    .tile-title {
        margin-top: 10px;
    }

    .tile-products-p {
        margin-top: 15px;
    }
}

@media (max-width: 600px) {
    .Premix-bg{
        height: auto;
        padding: 20px;
    }

    .tile-title h3 {
        font-size: 38px;
    }

    .tile-title h2 {
        font-size: 42px;
        margin-top: 5px;
    }
        .tile-products-p {
        width: 90%;
        margin-top: 15px;
    }
        .tile-adhesive-caption {
        font-size: 17px;
    }

}

@media (max-width: 600px) {
    .Premix-bg{
        height: auto;
        padding: 20px;
    }

    .tile-title h3 {
        font-size: 38px;
    }

    .tile-title h2 {
        font-size: 42px;
        margin-top: 5px;
    }

    .tile-products-p {
        width: 90%;
        margin-top: 15px;
    }
    .sand-label{
        display: none;
    }


}


